*{
  border: 2px solid red;
}
.App {
  text-align: center;
  
}

body{
  
}

.home-icon{
  width: 50px;
  height: 5vh;
  position: absolute;
  left: 10px;
}

main{
  margin: 10px;
  /* width: 80%; */
  height: 70vh;
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "panel display"
    "panel display"
  ;

}
nav{
  position: relative;
  height: 8vh;
  grid-area: nav;
}
.Header{
  background-image: url("https://imgur.com/23hJkrB.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:90% 100%;
  height: 30vh;
}
.Panel{
  grid-area: panel;
}

.Main-Disp{
  grid-area: display;
}

.Footer{
  display: grid;
  justify-content: center;
  /* position: absolute;
  width: 100%;
  bottom: 0; */
}