* {
  /* border: 2px solid red; */
  font-family: "Dancing Script", cursive;
  font-family: "Lobster Two", cursive;
  color: white;
}

.App {
  text-align: center;
}

main {
  margin: 10px;
  height: 70vh;
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "panel display"
    "panel display";
}

.Panel {
  grid-area: panel;
}

.Main-Disp {
  grid-area: display;
}

.link {
  height: 40px;
  width: 40px;
  height: 100px;
  width: 100px;
}
