*{
  /* border: 2px solid red; */
}
.App {
  text-align: center;
  
}

body{
  
}

.home-icon{
  width: 50px;
  height: 5vh;
  position: absolute;
  left: 10px;
}

main{
  margin: 10px;
  /* width: 80%; */
  height: 70vh;
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "panel display"
    "panel display"
  ;

}
nav{
  position: relative;
  height: 8vh;
  grid-area: nav;
}
.Header{
  background-image: url("https://i.imgur.com/s7LNRhR.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:100% 100%;
  height: 35vh;
}
.Panel{
  grid-area: panel;
}

.Main-Disp{
  grid-area: display;
}

.Footer{
  display: inline;
  
}
.img{
  height: 40vh;
  margin-bottom: 70px;
}

p{
  width: fit-content;
  display: flex;
  display: inline;
}